[global]
pid = /run/php/php{{ php_version }}-fpm.pid
error_log = /var/log/php{{ php_version }}-fpm.log

emergency_restart_threshold = 10
emergency_restart_interval = 1m
process_control_timeout = 10

include=/etc/php/{{ php_version }}/fpm/pool.d/*.conf
